<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>流水帳列表</title>
<link rel="stylesheet" th:href="@{/bootstrap/css/styles.css}" />
<script th:src="@{/bootstrap/js/scripts.js}"></script>
<script th:src="@{/bootstrap/js/datatables-simple-demo.js}"></script>
</head>
<body class="sb-nav-fixed">
	<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
		<!-- 標頭-->
		<a class="navbar-brand ps-3" href="Default.html">流水帳管理系統</a>
		<!-- 搜尋方塊-->
		<form
			class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
			<div class="input-group">
				<input class="form-control" type="text" placeholder="Search"
					aria-label="Search" aria-describedby="btnNavbarSearch">
				<button class="btn btn-primary" id="btnNavbarSearch" type="button">
				</button>
			</div>
		</form>
		<!-- Navbar-->
		<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
			<a class="nav-link dropdown-toggle" id="navbarDropdown"
				href="/logout" role="button" data-bs-toggle="dropdown"
				aria-expanded="false"> <span th:if="${level}"
				th:insert="/layouts/AdminIcon"></span> <span th:unless="${level}"
				th:insert="/layouts/Icon"></span>
			</a>
		</ul>
	</nav>
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion sb-sidenav-dark"
				id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="nav">
						<div th:if="${level}" th:include="/layouts/AdminMenu"></div>
						<div class="sb-sidenav-menu-heading">後台管理</div>
						<a class="nav-link"
							th:href="@{'UserProfile.html?account=' + ${ACC}}"> 個人資訊</a>
						<div class="sb-sidenav-menu-heading">流水帳紀錄</div>
						<a class="nav-link"
							th:href="@{'AccountingList.html?uid=' + ${userid}}"> 流水帳管理 </a> <a
							class="nav-link"
							th:href="@{'CategoryList.html?uid=' + ${userid}}"> 分類管理</a>
					</div>
				</div>
			</nav>
		</div>
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">
					<h1 class="mt-4">會員管理</h1>
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item">管理者後台</li>
						<li class="breadcrumb-item active">會員管理</li>
					</ol>
					<form method="post" th:action="@{/UserList.html}">
						<div class="card mb-4">
							<div class="card-body">
								<input type="button" value="Add"
									onclick="location.href='/UserDetail.html/new'">&nbsp; <input
									type="submit" value="Del"
									onclick="return confirm('確定要刪除已選使用者?')"><br> <span
									th:text="${errormsg}" style="color: red"></span>
							</div>
						</div>
						<div class="card-body">
							<div
								class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
								<div class="dataTable-top"></div>
								<div class="dataTable-container">
									<table id="datatablesSimple" class="dataTable-table">
										<thead>
											<tr>
												<th data-sortable="" style="width: 9.693%;"><a href="#"
													class="dataTable-sorter"></a></th>
												<th data-sortable="" style="width: 29.2499%;"><a
													href="#" class="dataTable-sorter">帳號</a></th>
												<th data-sortable="" style="width: 15.4938%;"><a
													href="#" class="dataTable-sorter">姓名</a></th>
												<th data-sortable="" style="width: 9.1225%;"><a
													href="#" class="dataTable-sorter">Email</a></th>
												<th data-sortable="" style="width: 11.5841%;"><a
													href="#" class="dataTable-sorter">等級</a></th>
												<th data-sortable="" style="width: 14.9146%;"><a
													href="#" class="dataTable-sorter">建立時間</a></th>
												<th data-sortable="" style="width: 9.5841%;"><a
													href="#" class="dataTable-sorter">Act</a></th>
											</tr>
										</thead>

										<tbody>
											<tr th:if="${userlist.empty}">
												<td colspan="7">沒有使用者</td>
											</tr>
											<tr th:each="u : ${userlist}">
												<td><input type="checkbox" class="cbx"
													th:value="${u.id}" name="userID"></td>
												<td><span th:text="${u.account}"></span></td>
												<td><span th:text="${u.name}"></span></td>
												<td><span th:text="${u.email}"></span></td>
												<td><span th:text="${u.userLevel} == 0 ? '管理員':'一般使用者'"></td>
												<td><span th:text="${u.createDate}"></td>
												<td><a th:href="@{'/UserDetail.html?info=' + ${u.id}}">Edit</a></td>
											</tr>

										</tbody>
									</table>
								</div>
								<div class="dataTable-bottom">
									<nav class="dataTable-pagination">
										<ul class="dataTable-pagination-list">
											<ul class="dataTable-pagination-list">
												<li th:each="p : ${total}"><a
													th:href="@{'/UserList.html?cUser=' + ${userid} + '&page=' + ${p}}"
													data-page="${p}" th:text="${p}"></a></li>
											</ul>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</form>
				</div>
			</main>
		</div>
	</div>
</body>
</html>